

/* small screen by default */

body {

    text-align: center;
    font-family: serif;
    letter-spacing: 0.1em;
    font-size: 1rem;
    line-height: 1.5em;
}

.container {

    max-width: 95%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1em;
    margin: 0 auto;
}

header,
main {
  
  width: 100%;
 
}

header {
  
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url("../images/dark-ribs.jpg") no-repeat center center / cover;
   
}

h1 {
    font-size: 2.25rem;
    color: rgba(174, 168, 168, 0.781);
}
 
.top-message {
    border-top: 4px solid #F18119;
    width: 10em;
    margin: auto;
    color: #F18119;
}

h2 {
    font-size: 1.3125rem;
    color: #F18119;
}

.best-BBQ {
    display: block;
    color: #F18119;
}


.user-info p {
    color: #404040;
    font-weight: 400;
    
}

.user-info h2 {
    font-weight: 900;
    font-size: 0.9rem;
    color: #404040;
}

.user-info .register {
    display: block;
    color: #F18119;
}

.user-info {
    min-height: 50vh;

    max-width: 90%;
    padding: 0 0.1em;
    margin: 0 auto;
    /*background-color: blue;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
   
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 80%;
    margin: 0 auto;
    
}

input,
button {
    margin: 0.5em 0;
    min-width: 70%;
    text-align: inherit;
    line-height: 1.8em;

}

.btn {

    padding: 0.1em 2em;
    border-radius: 10%;
    
}

.register-btn {
    background-image: linear-gradient(45deg, #ff713b, #FFA51D);
}

.register-btn:hover,
.register-btn:focus {
    background-image: linear-gradient(90deg, #FFA51D, #ff713b);
}

.warning {
    margin: -0.2em;

}

.small {
    font-size: 0.625rem;
    color: #F18119;
}

.mid {
    min-height: 15em;
    line-height: 3.5em;

}


/* for larger screen */
@media (min-width: 950px) {
    body {
        font-size: 1.125rem;
    }

    .top-message {
        width: 30em;
    }

    .container {
      max-width: 90%;
      flex-direction: row;
      justify-content: space-between;
      min-height: 100vh;

      margin: 0 auto;
    }

    header,
    main {
  
      height: 100vh;
      padding: 0 0.5em;
      margin: 0 0.5em;
 
    }

    header {
        width: 65%;
        
    }

    main {
        width: 30%;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    header h2 {
        margin: -20em;
        
    }

    .user-info {
        width: 80%;
        height: 100vh;
        justify-content: center;
    }

    .low-message {
        
        margin-top: -15em;
        color: #F18119;

    }

   

   

}





 



