* { 
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    font-size: 1rem;  /*16px*/
    font-weight: 300;
    text-align: center;
}

.intro {
    background: url("../images/ribs.jpg") no-repeat center center /cover, linear-gradient(yellow, orange);
    background-color: grey;
    background-blend-mode: multiply;

    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    
}

.container {

    max-width: 90%;
    /*background-color: grey;*/
    /*border: 3px solid red;*/
    
    margin: 0 auto;
}


.container-intro {
    
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 50vh;
    /*border: 1px solid red;*/

}


h1 {

    font-size: 2.25rem;
    margin-bottom: 1.5em;
    font-weight: 400;
    color: #fff;

}

.best-BBQ {

    display: block;
    color: #fff;
    font-weight: 900;
    
}

.top-text {

    margin: 0 auto;
    padding-top: 1em;
    width: 50%;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(to left, red, blue) 1;
    color: #F18119;
    font-weight: 900;
    order: -1;

    
}

.low-text {
    font-weight: 900;
    color: #F18119;
    font-size: 1.5rem;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.3125rem;
    padding:0;
    margin: 0 auto;
}

.description {
    font-weight: 400;
    width: 85%;
    margin: auto;
}

.small {
    font-size: 0.625rem;
    text-transform: uppercase;   
    
}

.warning {
    
    padding-top: 0;
    max-width: 80%;
    font-weight: 400;
    letter-spacing: 0.3em;
    margin: 0.1em auto 0.5em;
    
    /*background: grey;*/
}

.permission {
    display: block;

}


.user-info {
   padding: 2em 1em;

   margin: auto;
   
   
   
}

h2,
h2 p,
form {
    padding: 0.5em;
}

.register {
    display: block;
    color: #F18119; 
}

h2 p {
    
    margin-top: -1em;
    margin-bottom: 0.1em;
    padding: 0;
    font-size: 1rem;
    width: 60%;
    margin: auto;
}

form {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 80%;
    max-width: 90%;
    /*border: 3px solid red;*/

    margin: auto;

}



.input {
    
    text-align: center;
    min-width: 80%;
    max-width: 90%;
    margin:0 auto 0.5em;
    border: 1px solid #404040;
    border-radius: 10%;
    transform: scale(1);
    transition: transform 500ms;
}

.input:hover,
.input:focus {
    transform: scale(1.1);
}

.register-btn {

    text-align: center;
    padding: .1em .2em;
    min-width: 80%;
    max-width: 90%;
    border-radius: 10%;
    font-family: inherit;
    font-weight: 900;
    letter-spacing: 1px;
    
    margin: 0 auto;
    cursor:pointer;
    background: linear-gradient(to left,#ff713b ,#ffA51D);
    color: #fff;
    transition: color 500ms;
  
    transform: scale(1);
    transition: transform 500ms;

   
}

.register-btn:hover,
.register-btn:focus {
    background: linear-gradient(to right,#ff713b ,#ffA51D);
    color: #404040;
    transform: scale(1.1);

}

@media (min-width: 768px) {
    body {
        display: flex;
        font-size: 1.125rem;
        
        min-width: 100%;
        min-height: 100vh;

    }

    .intro,
    .user-info {
        width: 50%;
        min-height: 100vh;

    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    

    .top-text {
        padding: 0 auto;
        margin: 0 auto;
    }

    h1 {
        font-size: 3.5rem;
        padding: 0;
        margin: 0;
    }

    h2 {
        font-size: 1.75rem;
        
        padding-bottom: 0;

        width: 70%;

        /*background: red;*/

        

    }

    .register {
        margin: 0;
    }

    

    

    .description {
       margin: 1em auto 1em;
       width: 70%;
       /*background: grey;*/
    }

    form {
        width: 90%;
        margin: 1em auto 1em;
    }

    .warning {
        
        width: 70%;
    }

    .container-intro {
        min-width: 60%;
        height: 70%;
    }

    

    

    
}
